<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <burgers>
        <burger>
            <image>resources/Menu-Burgers/B1.jpg</image>
            <vegan>true</vegan>
            <chicken>false</chicken>
            <name>BOURGIR1</name>
            <calories>9001</calories>
            <spiciness>2</spiciness>
            <price>420.69</price>
        </burger>

        <burger>
            <image>resources/Menu-Burgers/B1.jpg</image>
            <vegan>true</vegan>
            <chicken>false</chicken>
            <name>BOURGIR1</name>
            <calories>9001</calories>
            <spiciness>2</spiciness>
            <price>420.69</price>
        </burger>

        <burger>
            <image>resources/Menu-Burgers/B1.jpg</image>
            <vegan>true</vegan>
            <chicken>false</chicken>
            <name>BOURGIR1</name>
            <calories>9001</calories>
            <spiciness>2</spiciness>
            <price>420.69</price>
        </burger>

        <burger>
            <image>resources/Menu-Burgers/B1.jpg</image>
            <vegan>true</vegan>
            <chicken>false</chicken>
            <name>BOURGIR1</name>
            <calories>9001</calories>
            <spiciness>2</spiciness>
            <price>420.69</price>
        </burger>

        <burger>
            <image>resources/Menu-Burgers/B1.jpg</image>
            <vegan>true</vegan>
            <chicken>false</chicken>
            <name>BOURGIR1</name>
            <calories>9001</calories>
            <spiciness>2</spiciness>
            <price>420.69</price>
        </burger>

        <burger>
            <image>resources/Menu-Burgers/B1.jpg</image>
            <vegan>true</vegan>
            <chicken>false</chicken>
            <name>BOURGIR1</name>
            <calories>9001</calories>
            <spiciness>2</spiciness>
            <price>420.69</price>
        </burger>

    </burgers>

    <chickens>
        <chicken>
            <image>resources/Menu-Burgers/B1.jpg</image>
            <vegan>true</vegan>
            <boneless>false</boneless>
            <name>SJIKEN</name>
            <calories>9002</calories>
            <spiciness>1</spiciness>
            <price>69.69</price>
        </chicken>

        <chicken>
            <image>resources/Menu-Burgers/B1.jpg</image>
            <vegan>true</vegan>
            <boneless>false</boneless>
            <name>SJIKEN</name>
            <calories>9002</calories>
            <spiciness>1</spiciness>
            <price>69.69</price>
        </chicken>

        <chicken>
            <image>resources/Menu-Burgers/B1.jpg</image>
            <vegan>true</vegan>
            <boneless>false</boneless>
            <name>SJIKEN</name>
            <calories>9002</calories>
            <spiciness>1</spiciness>
            <price>69.69</price>
        </chicken>

        <chicken>
            <image>resources/Menu-Burgers/B1.jpg</image>
            <vegan>true</vegan>
            <boneless>false</boneless>
            <name>SJIKEN</name>
            <calories>9002</calories>
            <spiciness>1</spiciness>
            <price>69.69</price>
        </chicken>

        <chicken>
            <image>resources/Menu-Burgers/B1.jpg</image>
            <vegan>true</vegan>
            <boneless>false</boneless>
            <name>SJIKEN</name>
            <calories>9002</calories>
            <spiciness>1</spiciness>
            <price>69.69</price>
        </chicken>

        <chicken>
            <image>resources/Menu-Burgers/B1.jpg</image>
            <vegan>true</vegan>
            <boneless>false</boneless>
            <name>SJIKEN</name>
            <calories>9002</calories>
            <spiciness>1</spiciness>
            <price>69.69</price>
        </chicken>
    </chickens>

    <drinks>
        <drink>
            <image>resources/Menu-Burgers/B1.jpg</image>
            <vegan>true</vegan>
            <carbonated>false</carbonated>
            <name>DRINC</name>
            <calories>9002</calories>
            <spiciness>1</spiciness>
            <price>69.69</price>
        </drink>

        <drink>
            <image>resources/Menu-Burgers/B1.jpg</image>
            <vegan>true</vegan>
            <carbonated>false</carbonated>
            <name>DRINC</name>
            <calories>9002</calories>
            <spiciness>1</spiciness>
            <price>69.69</price>
        </drink>

        <drink>
            <image>resources/Menu-Burgers/B1.jpg</image>
            <vegan>true</vegan>
            <carbonated>false</carbonated>
            <name>DRINC</name>
            <calories>9002</calories>
            <spiciness>1</spiciness>
            <price>69.69</price>
        </drink>

        <drink>
            <image>resources/Menu-Burgers/B1.jpg</image>
            <vegan>true</vegan>
            <carbonated>false</carbonated>
            <name>DRINC</name>
            <calories>9002</calories>
            <spiciness>1</spiciness>
            <price>69.69</price>
        </drink>

        <drink>
            <image>resources/Menu-Burgers/B1.jpg</image>
            <vegan>true</vegan>
            <carbonated>false</carbonated>
            <name>DRINC</name>
            <calories>9002</calories>
            <spiciness>1</spiciness>
            <price>69.69</price>
        </drink>

        <drink>
            <image>resources/Menu-Burgers/B1.jpg</image>
            <vegan>true</vegan>
            <carbonated>false</carbonated>
            <name>DRINC</name>
            <calories>9002</calories>
            <spiciness>1</spiciness>
            <price>69.69</price>
        </drink>
    </drinks>
</menu>