.menuItem{
    width: 18vw;
    border-radius: 10px;
}

figcaption{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

body {background-color: greenyellow;}